body {
    font-family: 'Arvo', serif;
    font-size: 40px;
    background-color: rgba(0, 118, 255, 0.41);
    
}

p {
    display: block;
    position: relative;
    margin-top: 0px;
    margin-left: 220px;
    margin-bottom: 0px;
}

#rayita {
    width: 170px;
    height: 10px;
    background-color: black;
    position: relative;
    margin-left: 220px;
    margin-top: 0px;
}

.a {
    margin-left: 300px;
    padding: 25px 30px 05px 30px;
    display: block;
    position: relative;
    float: left;
}

.primera {
    position: relative;
    display: inline-block;
    margin-right: 60px;
}

span {
    font-size: 20px;
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-top: 120px;
    background-color: turquoise;
    color: white;
    opacity: 0.5;
}
span:hover{
    background-color: fuchsia;
    color: yellow;   
}
